<section
  id="submit-exhibition"
  class="submit-exhibition"
  aria-labelledby="submit-exhibition-heading"
>
  <div class="submit-exhibition__inner" data-reveal>
    <div>
      <h2 id="submit-exhibition-heading" class="submit-exhibition__headline">
        갤러리·기관을 운영하시나요? 전시를 등록하세요.
      </h2>
      <p class="submit-exhibition__copy" lang="en">
        Run a gallery or institution? Submit to gallr.
      </p>
    </div>
    <a href="/submit/" class="btn btn--outline submit-exhibition__button">
      전시 등록 <span class="bi-en" lang="en">SUBMIT</span>
    </a>
  </div>
</section>
